# Ignore VS Code settings
.vscode/

# *.elf 
*.o
*.obj

# Ignore Debugger Configs
*.ini

# Ignore ModelSim files
*.wlf
core/hdl/sim/work/

# Ignore Quartus files
db/
incremental_db/
output_files/
.qsys_edit/
hps_isw_handoff/
greybox_tmp/
hc_output/
qdb/

*.qws
*.bak
*.orig
*.swp
*~

*.sof
*.pof
*.rbf
*.jdi
*.pin
*.done
*.qdf
*.rpt
*.summary
*.smsg
*.txt

*.sopcinfo
*.elf
*.map
*.objdump
*.o
*.d

o_*.txt
out/
Computer_Systems/DE1-SoC/rel/